
/**************
---------------
GENERAL
---------------
**************/
#content{
	padding: 1em;
	padding-left: 2.5em;
	padding-right: 2.5em;
}


/**************
---------------
FORMS
---------------
**************/
.form-group{
	padding: .5em;
	border-radius: 5px;
}

.form-error
{
	background-color:rgba(242,222,222,.7);
}

.message
{
	padding: .5em;
	border-radius: 5px;
}


/**************
---------------
INVOICES
---------------
**************/
.invoice{
  padding: 1em;
  border: 1px solid #ddd !important;
}